<ng-template #t let-fill="fill">
    <i class="bi-star-fill">
        <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
    </i>
</ng-template>

<!-- !PAGE CONTENT! -->

    <div class="w3-main" style="margin-left:300px">
    
      <!-- Header -->
      <header id="filters">
        <a href="#"><img src="http://clipart-library.com/images/rijKbAjRT.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
        <h1><b>Around The World In 80 Meals</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <button class="w3-button w3-black" (click)="toggleCountryFlags()"><i class="fa fa-flag w3-margin-right"></i>Recipes By Country</button>
          <button class="w3-button w3-white w3-hide-small" (click)="toggleIngSearch()"><i class="fa fa-cutlery w3-margin-right"></i>Search By Ingredient</button>
          <button class="w3-button w3-white w3-hide-small" (click)="toggleTop10()"><i class="fa fa-star w3-margin-right"></i>Top 20 Highest Rated</button>
        </div>
        </div>
      </header>

      <div align="center">
        <div *ngIf="showTop10">
            <div *ngFor="let meal of sortedRatings">
                <a [routerLink] = "['/recipe-details', meal.mealDBId, 'UNK', meal.name]" target="_blank">{{meal.name}}</a>
                &nbsp;
                <ngb-rating [rate]="meal.avgRating" [starTemplate]="t" [max]="5" [readonly]="true"></ngb-rating> 
            </div>
        </div>
    </div>
    <br><br>
    
    <div align="center">
        <div *ngIf="showIngSearch">
            <p>Have a favorite ingredient or is there one that's just taking up space in your pantry?
                <br>Search our list of recipes for one that uses it!</p>
            <br>
            <form #ingredientSearch="ngForm" (ngSubmit)="searchMealsByIngredient(ingredientSearch)">
                <label for="searchValue">Search:</label>
                <input name="searchValue" id="searchValue" ngModel />
                <button>Find Recipes</button>
            </form>
        <br>
        <div *ngIf="foundIngredients">
            <ul *ngFor="let ing of ingRecipes?.meals, index as idMeal">
                <li>
                    <button *ngIf="user.id > 0" (click)="setUnsetFavorite(user.id, +ing.idMeal)" class="favorite-button-icons">
                        <i>
                            <ng-container *ngIf="isUserFavorite(+ing.idMeal); else nonFavorite">
                                <mat-icon class="favorite-star" title="This is a favorite meal">star</mat-icon>
                            </ng-container>
                            
                            <ng-template #nonFavorite>
                                <mat-icon class="non-favorite-star" title="Click to make this a favorite meal">star_border</mat-icon>
                            </ng-template>
                        </i>
                    </button>
                    <a [routerLink] = "['/recipe-details', ing.idMeal, 'UNK', ing.strMeal]" target="_blank">{{ing.strMeal}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="showCountryFlags">
        <div class="grid w3-container w3-margin-bottom">
          <ng-container *ngFor="let country of countries">
              <button class="w3-button" (click)="onSelect(country)" (click)="countryRecipes.showModal()">
                  <div class="w3-container w3-white">
                      <p><b>{{country.name}}</b></p>
                    </div>
                  <img src="{{country.flagURL}}" alt="{{country.name}}" style="width:100%" class="w3-hover-opacity">
              </button>
          </ng-container>
          <br>
          <br>
          <br>
        </div>
    </div>
    

        <dialog #countryRecipes>
            <h2>{{selectedCountry}} Recipes</h2>
        
            <ul *ngFor="let meal of countryMeals?.meals, index as idMeal">
                <li>
                    <button *ngIf="user.id > 0" (click)="setUnsetFavorite(user.id, +meal.idMeal)" class="favorite-button-icons">
                        <i>
                            <ng-container *ngIf="isUserFavorite(+meal.idMeal); else nonFavorite">
                                <mat-icon class="favorite-star" title="This is a favorite meal">star</mat-icon>
                            </ng-container>
                            
                            <ng-template #nonFavorite>
                                <mat-icon class="non-favorite-star" title="Click to make this a favorite meal">star_border</mat-icon>
                            </ng-template>
                        </i>
                    </button>
                    
                    <a [routerLink] = "['/recipe-details', meal.idMeal, selectedCountry, meal.strMeal]" target="_blank">{{meal.strMeal}}</a>
                </li>
            </ul>
            <button (click)="countryRecipes.close()">Close</button>
        </dialog>
        
    <!-- End page content -->