@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* body {
  padding:30px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
  background: #e3dfd6;
}

button {
  background: #e3dfd6;
  padding:5px;
  border-style:none;
  font-size: 30px;
} */

li{
  padding:5px;
  list-style:none;
  text-align:justify;
}

dialog {
  border-color: black;
  overflow: scroll;
  border-radius: 5px;
  cursor: pointer;
  height: 600px;
  width: 700px;
}

.favorite-star {
  color: lightblue;
}

.non-favorite-star {
  color: aqua
}

.favorite-button-icons {
    padding: 0;
    border: none;
    background: none;
    padding-left: 5px;
}

/* favorite ratings start */
i {
  position: relative;
  display: inline-block;
  font-size: .8rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: yellowgreen;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* favorite ratings end */