<hr />

<ng-template #t let-fill="fill">
    <i class="bi-star-fill">
        <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
    </i>
</ng-template>

<ng-container *ngIf="createdPassport">
    <p><b>Congratulations!</b> You just earned a passport stamp for the {{countryName}} country.</p>
</ng-container>

<ng-container *ngIf="!createdPassport && hasPassport()">
    <p><b>You own a passport stamp for the {{countryName}} country!</b></p>
</ng-container>

<ng-container *ngIf="localMeal && localMeal.avgRating > 0; else noStars">
    <ngb-rating [rate]="localMeal.avgRating" [formControl]="ctrl" [starTemplate]="t" [max]="5" [readonly]="true"></ngb-rating>
    <br />
    This meal's overall rating ({{localMeal.avgRating}} of 5 stars, out of {{numRatings}} rating<ng-container *ngIf="numRatings > 1">s</ng-container>)
</ng-container>

<ng-template #noStars>
    <ngb-rating [rate]=0 [formControl]="ctrl" [starTemplate]="t" [max]="5" [readonly]="true"></ngb-rating>
    <p>This meal does not yet have any ratings.</p>
</ng-template>

<p></p>

<div *ngIf="user.id > 0 && +mealId > 0 ">
    <ng-container *ngIf="localMeal && userMealRating() > 0; else notRated">
        <ngb-rating [rate]="userMealRating()" [formControl]="ctrl" [starTemplate]="t" [max]="5" [readonly]="true"></ngb-rating>
        <br />
        Your rating for this meal ({{userMealRating()}} of 5 stars)
    </ng-container>

    <ng-template #notRated>
        <p *ngIf="!triedMeal">
            Have you tried this meal recipe yet?<br />
        
            If so, provide a rating
            
            <ng-container *ngIf="!hasPassport()">
                and earn a {{countryName}} passport stamp!
            </ng-container>

            <ng-container *ngIf="hasPassport()">
                to help others that are searching for meals.
            </ng-container>
        </p>
        
        <ng-container *ngIf="!triedMeal">
            <button class="btn btn-sm btn-primary" (click)="triedThisMeal()">I've tried this recipe</button>
        </ng-container>
        
        <ng-container *ngIf="triedMeal">
            <div class="mb-3">
                <ngb-rating [formControl]="ctrl" [starTemplate]="t" [max]="5"></ngb-rating>
                <div class="form-text small">
                    <div *ngIf="ctrl.valid" class="text-success">{{toggleRatingSelected()}} Thank you for your rating!  Please click Save Rating to submit it.</div>
                    <div *ngIf="ctrl.invalid" class="text-danger">How do you rate this meal?</div>
                </div>

                <button id="saveFavoriteButton" class="btn btn-sm btn-secondary"
                    (click)="saveRating(ctrl.value)" [disabled]="disableButtons">Save Rating</button>
                <button class="btn btn-sm btn-outline-primary me-2"
                    (click)="toggleRatingSelected(); ctrl.setValue(null)" [disabled]="disableButtons">Clear</button>
            </div>    
        </ng-container>
    </ng-template>
</div>